/* 
    Documento   : style
    Criado em   : 30/06/2013, 00:37:20
    Autor       : marlonp
    Descrição   :
        Regras a serem seguidas pelo CSS.
*/

* { padding: 0; margin: 0; text-decoration: none;}

body {
    color: 000;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

.preto { color: #000; }
.cinza { color: #555; }

#loading {
    background: #fff1a8;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight : bolder;
    padding: 5px;
    position: absolute;
    margin: auto;
    display:none;
    text-align: center;
}

header { 
    background: #f1f1f1; 
    margin-bottom: 10px;
    padding: 5px 10px;
}

header h1 { display:inline-block;}

#geral { width: 100%; }

#btn-incluir {
    background: rgb(219,68,55);
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    cursor:pointer;
    display:inline-block;
    margin-left: 20px;
    padding: 10px;
    text-align:center;
    width: 200px;
}

#btn-login {
    background: rgb(66,133,244);
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    cursor:pointer;
    display:inline-block;
    margin-left: 20px;
    padding: 10px;
    text-align:center;
}



#btn-logoff {
    background: rgb(219,68,55);
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    cursor:pointer;
    display:inline-block;
    margin-left: 20px;
    padding: 10px;
    text-align:center;
}


#form-incluir {
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    display: none;
    padding: 10px;
    position:relative;    
}

nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 20%;
}

#menu {
    overflow:auto;
    max-height:500px;
    text-align: left;
}

#menu li {
    border-left: 3px solid #fff;
    cursor:pointer;
    display:block; 
    padding: 3px 10px;
}

#menu li:hover {
    border-left: 3px solid #f00;    
    cursor:pointer;
    display:block;
}

#rss {
    display: inline-block;
    vertical-align: top;
    width:75%;
}

#feed-list {
    overflow:auto;
    max-height: 500px;
    padding: 15px;
}

.title {    
    border-bottom: 1px solid #aaa;
    cursor:pointer;
    display:block;
    font-weight: bolder;    
    padding: 5px 10px;
}

.content { 
    display:none; 
    text-indent: 10px;
}

.clear { clear:both; }


#login-container {
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    margin: 30px auto;
    width: 30%;
}

#form-login input {
    display: block;
    margin: 5px;
}