/* 
    Documento   : style
    Criado em   : 30/06/2013, 00:37:20
    Autor       : marlonp
    Descrição   :
        Regras a serem seguidas pelo CSS.
*/

@font-face {
    font-family : 'Roboto Light';
    font-style : normal;
    font-weight : 400;
    src : local('Roboto Light'), url(../font/Roboto-Light.ttf) format('truetype');
}

::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background:rgb(222,222,222);}
::-webkit-scrollbar-thumb {background: rgb(189,189,189);}

* { padding: 0; margin: 0; text-decoration: none;}

body {
    color: rgb(0,0,0);
    font-family: 'Roboto Light', Tahoma, Verdana, Arial, sans-serif;
    height: 100%;
    overflow:hidden;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

.preto {color: #000;}
.cinza {color: #555;}

#loading {
    background: #fff1a8;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight : bolder;
    padding: 5px;
    position: absolute;
    margin: auto;
    display:none;
    text-align: center;
}

.github {
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    padding: 2px 15px;
    position: fixed; top: 75px; right: 0; border: 0;
}

#header { 
    background: #f1f1f1;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    height: 64px;
    padding: 5px 10px;
    position:fixed;
    width: 100%;
    z-index:10;
}

#header .header {
    display:inline-block;
    line-height: 32px;
    vertical-align:middle;
}

#geral { width: 100%; }

#btn-logoff {
    background: rgb(219,68,55);
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    cursor:pointer;
    display:inline-block;
    right: 10px;
    position:absolute;
    margin:0 20px;
    padding: 10px;
    text-align:center;
}

#lateral {
    background: #f1f1f1;
    float:left;
    padding-top:85px;
    width: 20%;
}

#form-incluir {
    background: #eee;
    border: 1px solid #ccc;
    display:inline-block;
    padding: 10px;
    text-align: left;
}

#feeds {
    background: rgb(230,230,230);
    overflow:auto;
    max-height:415px;    
}

.feed-header {
    background:rgb(255,125,0);
    display:block;
    font-weight:bold;
    margin-top:10px;
    padding: 5px 10px;
    text-align:left;
}

#menu {
    text-align: left;
}

#menu li {
    border-left: 3px solid rgb(230,230,230);
    cursor:pointer;
    display:block; 
    padding: 3px 10px;
}

#menu li:hover {
    border-left: 3px solid rgb(219,68,55);    
    cursor:pointer;
    display:block;
}

.ativo {
    background:rgb(219,68,55);
    border-left: 3px solid rgb(219,68,55) !important;
    color: rgb(255,255,255);
    display:block;
}

#rss {
    float:left;
    padding:85px 5px;    
    width:75%;
}

#feed-list {
    max-height:415px;            
    overflow: auto;    
    padding: 15px;
}

.pub-date {
    float: right;
}

.title {    
    border-bottom: 1px solid #aaa;
    cursor:pointer;
    display:block;
    font-weight: bolder;    
    padding: 5px;
}

.content { 
    display:none; 
    text-indent: 10px;
}

.clear { clear:both; }


#login-container {
    margin: 200px auto;
    vertical-align:top;
    width: 650px;
}

#login-container .header {
    display:inline-block;
    vertical-align:middle;
}

#login-container h1 {
    font-size: 64px;
    line-height: 64px;
    margin-right: 30px;
}

#social-login {
    display:inline-block;
    height:100%;
}

.btn-login {
    border-radius: 2px;
    color: #fff;
    cursor:pointer;
    display:block;
    padding:5px 20px;
    margin: 5px;
    text-align:left;    
}

#login-google {
    background: #245DC1;
}
#login-twitter {
    background: #39A9E0;
}
#login-facebook {
    background: #3B5998;
}